{% extends 'base.html.twig' %}

{% block body %}
    <main class="app-content">
        <div class="app-title">
          <div>
            <h1><i class="fa fa-edit"></i> User</h1>
            <a href="{{ path('products_index') }}">Back to the list</a>
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
               <ul class="list-group">
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">ID: {{ user.id }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Name: {{ user.username }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Password: {{ user.password }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Email: {{ user.email }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">
                    <ul>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Delete" class="btn btn-primary">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
