<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Tienda virtual en Symfony">
        <title>{% block title %}Tienda Virtual{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/') }}main.css">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="app sidebar-mini">
        {% include 'navbar.html.twig' only %}
        {% include 'sidebar.html.twig' only %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'extra_scripts.html.twig' only %}
    </body>

</html>
