    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="../">Tienda Virtual</a>
      <!-- Sidebar toggle button-->
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!-- User Menu-->
        {% block usermenu %}
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            {% if is_granted('ROLE_USER') %}
            <li><a class="dropdown-item" href="{{ path('users_index') }}"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="{{ path('users_index') }}"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{ path('login') }}"><i class="fa fa-sign-out fa-lg"></i> Login</a></li>
            {% endif %}
          </ul>
        </li>
        {% endblock %}
      </ul>
    </header>