    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="{{ path('homepage') }}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Home</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Products</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ path('products_index') }}"><i class="icon fa fa-circle-o"></i> List</a></li>
            {% if is_granted('ROLE_USER') %}
            <li><a class="treeview-item" href="{{ path('products_new') }}"><i class="icon fa fa-circle-o"></i> New product</a></li>
            {% endif %}
          </ul>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Categories</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ path('categories_index') }}"><i class="icon fa fa-circle-o"></i> List</a></li>
            <li><a class="treeview-item" href="{{ path('categories_new') }}"><i class="icon fa fa-circle-o"></i> New category</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Users</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ path('users_index') }}"><i class="icon fa fa-circle-o"></i> List</a></li>
            <li><a class="treeview-item" href="{{ path('users_new') }}"><i class="icon fa fa-circle-o"></i> New user</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </aside>