<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Tienda Virtual</title>
    <link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css" rel="stylesheet">
  </head>

  <style>
    body  {
           background-image: url("img/ropa_fondo.jpg");
          }
  </style>

  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Tienda Virtual</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          <a class="nav-link" href="/products">Productos</a>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Registrarse</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>Tienda Virtual de Ropa</h1>
      <p class="lead">En esta tienda podes encontrar ropa de la mejor calidad y con los mejores precios.</p>
      <p class="lead">
        <a href="/products" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Ver productos</a>
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Plantilla de <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>.</p>
    </footer>
    </div>
  </body>
</html>