{% extends 'base.html.twig' %}

{% block body %}

    
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Products List</h1>
          {{ form_start(form) }}
            {{ form_widget(form) }} 
            <input type="submit" value="Search" class="btn btn-primary"/>
          {{ form_end(form) }}
          {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('products_new') }}">New Product</a>
            </li>
          {% endif %}
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Subcategory</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.subcategory.categoryId.name }}</td>
                            <td>{{ product.subcategory.name }}</td>
                            <td>{{ product.image }} <img src="{{asset('img/products/')}}{{ product.image }}" alt="{{ product.name }}" width="100" height="100"></td>
                            <td>${{ product.price }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                                    </li>
                                    {% if is_granted('ROLE_USER') %}
                                    <li>
                                        <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    

{% endblock %}

