{% extends 'base.html.twig' %}

{% block body %}
    <main class="app-content">
        <div class="app-title">
          <div>
            <h1><i class="fa fa-edit"></i> Product</h1>
            <a href="{{ path('products_index') }}">Back to the list</a>
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
               <ul class="list-group">
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">ID: {{ product.id }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Name: {{ product.name }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Category: {{ product.subcategory.categoryId.name }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">SubCategory: {{ product.subcategory.name }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">
                    Image: {{asset('img/products/')}}{{ product.image }}
                    <img src="{{asset('img/products/')}}{{ product.image }}" alt="{{ product.name }}" width="100" height="100">
                </li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Price: ${{ product.price }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">
                    <ul>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Delete" class="btn btn-primary">
                            {{ form_end(delete_form) }}
                        </li>
                        {% endif %}
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </main>
{% endblock %}

