{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Search" />
    {{ form_end(form) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.image }} <img src="{{asset('img/products/')}}{{ product.image }}" alt="{{ product.name }}" width="100" height="100"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('products_new') }}">Create a new product</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
