{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{asset('img/products/')}}{{ product.image }}</td>
                <img src="{{asset('img/products/')}}{{ product.image }}" alt="{{ product.name }}" width="100" height="100">
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('products_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
