{% extends 'base.html.twig' %}

{% block body %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Category creation</h1>
          <a href="{{ path('categories_index') }}">Back to the list</a>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bs-component">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" class="btn btn-primary"/>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/newProductImg.js')}}">
{% endblock %}

