{% extends 'base.html.twig' %}

{% block body %}
    <main class="app-content">
        <div class="app-title">
          <div>
            <h1><i class="fa fa-edit"></i> Category</h1>
            <a href="{{ path('categories_index') }}">Back to the list</a>
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
               <ul class="list-group">
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">ID: {{ category.id }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">Name: {{ category.name }}</li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">
                    Image: {{ category.icon }}
                    <img src="{{asset('img/categories/')}}{{ category.icon }}" alt="{{ category.icon }}" width="100" height="100">
                </li>
                <li class="list-group-item"><span class="tag tag-default tag-pill float-xs-right">
                    <ul>
                        <li>
                            <a href="{{ path('categories_edit', { 'id': category.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Delete" class="btn btn-primary">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
