{% extends 'base.html.twig' %}

{% block body %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Sub-Categories List</h1>
            <li>
                <a href="{{ path('subcategory_new') }}">Create a new subcategory</a>
            </li>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Icon</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for subcategory in subcategories %}
                        <tr>
                            <td><a href="{{ path('categories_show', { 'id': subcategory.id }) }}">{{ subcategory.id }}</a></td>
                            <td>{{ subcategory.name }}</td>
                            <td>{{ subcategory.icon }} <img src="{{asset('img/subcategory/')}}{{ subcategory.icon }}" alt="{{ subcategory.icon }}" width="100" height="100"></td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('subcategory_show', { 'id': subcategory.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('subcategory_edit', { 'id': subcategory.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
