<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register - Vali Admin</title>
  </head>
  {% block body %}
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Vali</h1>
      </div>
      {{ form_start(form) }}
      <div class="login-box">
        <div class="login-form">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Register</h3>
          <div class="form-group">
            {{ form_label(form.username, 'USERNAME', {'attr': {'class': 'control-label'}} ) }}
            {{ form_row(form.username, {'attr': {'class': 'form-control'}} ) }}
          </div>
          <div class="form-group">
            {{ form_label(form.email, 'EMAIL', {'attr': {'class': 'control-label'}} ) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}} ) }}
          </div>
          <div class="form-group">
            {{ form_label(form.plainPassword.first, 'FIRST PASSWORD', {'attr': {'class': 'control-label'}} ) }}
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}} ) }}
            {{ form_label(form.plainPassword.second, 'REPEAT PASSWORD', {'attr': {'class': 'control-label'}} ) }}
    		    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}} ) }}
            <input type="hidden" name="go_to" value="/products" />
          </div>
          
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>Register</button>
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
      });
    </script>
  </body>
  {% endblock %}
</html>